body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #353535;
}


#mVideo {
    position: absolute;
    right: 0;
    top: 0;
/*    width: 70%;*/
    height: 100%;
}

.textContainer{
    text-align: left;
    position: absolute;
    top:80px;
    left: 15px;
    width: 50%;
    color:white;
}

p {
/*    font-family: "Lato";*/
    font-size: 12px;

    position: relative;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}