body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #353535;
}


#mVideo {
/*    width: 100%;*/
    height: 100%;
}

.textContainer {
    text-align: left;
    position: absolute;
    top: 80px;
    left: 10px;
    width: 201px;
    color: white;
    background: black;
    padding: 10px;
}

.textContainer li{
    font-size: 0.8vw;
}

video {
    position: absolute;
    right: 0;
    top: 0;
/*    object-fit: fill;*/
}

p {
    font-family: "Montserrat";
    font-size: 0.8vw;
    position: relative;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
