/* GENERAL */

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*MAP SETTING*/

#wkday {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}

#wkend {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 50%;
}

#divider {
    background-color: gray;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 2;
}


/*LEGEND AND TITLE*/

#title-wkday {
    position: absolute;
    margin: 0;
    top: 5px;
    right: 51%;
    text-align: right;
}

#title-wkend {
    position: absolute;
    margin: 0;
    top: 5px;
    left: 51%;
    text-align: right;
}


.map-overlay {
    /*    background: black;*/
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    overflow: visible;
    border-radius: 3px;
}

#legend {
    margin-bottom: 40px;
    width: 100px;
    height: 150px;
    line-height: 13px;
    color: white;
}

.legend-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    margin-top: 0px;
}

.plegend {
    font-size: 10px;
    margin: 0;
}

#statistics {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 200px;
    height: 80px;
    background: black;
    color: white;
    padding: 15px;
}

/*TEXT STYLE*/

h2 {
    font-family: "Montserrat";
    font-size: 20px;
    color: white;
    font-weight: normal;
}

h3 {
    font-family: "Montserrat";
    font-size: 14px;
    color: white;
    font-weight: normal;
    margin: 0;
}

p {
    font-family: "Montserrat";
    font-size: 11px;
}
